body {
background-color: powderblue;
font-family: "Trebuchet MS", sans-serif;
width: 80%;
margin: auto;
}

h1 {
text-align: center;
}

h2 {
clear: both;
}

.intro {
text-align: center;
}

div {
background-color: white;
padding: 20px;
margin: 20px;
overflow: auto;
}

img {
width: 175px;
height: auto;
float: left;
margin-right: 20px;
margin-bottom: 10px;
}

a {
color: darkblue;
}
